<app-header></app-header>
<app-home-dashboard-header></app-home-dashboard-header>

<!-- <app-todays-log></app-todays-log> -->
<!-- <app-dashboard></app-dashboard> -->
<app-sidebar></app-sidebar>
<!-- <app-alert></app-alert> -->

<app-smoothed-line-chart></app-smoothed-line-chart>
<!-- <app-traffic-source-type></app-traffic-source-type>
<app-traffic-organization></app-traffic-organization>

<app-organisation-stats></app-organisation-stats>
<app-traffic-recognized></app-traffic-recognized>
<app-threat-category></app-threat-category> -->
<h1>Heading</h1>